<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="More">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="10.127 -0.43477 20"
        rpy="0 0 0" />
      <mass
        value="9165.1" />
      <inertia
        ixx="857.94"
        ixy="-925.91"
        ixz="12.685"
        iyy="300560"
        iyz="0.37866"
        izz="300120" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://More/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://More/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>